<h1>Docker Image: <%= @image_path %></h1>
<%= link_to("home", "/") %>
<p>
<% if @image_tags.nil? or @image_tags.keys.empty? %>
    No tags found for image path: <%= @image_path %>
<% else %>
    <table>
    <% @image_tags.keys.sort.each do |key| %>
        <tr><td><%= link_to(key, "/images/#{@image_tags[key]}") %></td></tr>
    <% end %>
    </table>
<% end %>
</p>
